.page {
  width: 100vw;
  height: 100vh;
}
.page form{
  margin-top: 3.2rem;
}
.page form > *:not(:last-child){
  margin-bottom: 1.4rem;
}
.page form label{
  color: var(--color-text-in-primary);
}
.timeAndSearch{
  display: grid;
  grid-template-columns: 1fr 0fr;
  align-items: flex-end;
}
.timeAndSearch button{
  margin-left: 1.6rem;
  width: 5.6rem;
  height: 5.6rem;
  background: var(--color-secundary);
  border: 0;
  border-radius: 0.8rem;
  outline: none;
  cursor: pointer;
  font: 700 1.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.timeAndSearch button img{
  height: 2.4rem;
  transition: transform .2s;
}
.timeAndSearch button:hover{
  background-color: var(--color-secundary-dark);
}
.timeAndSearch button:hover img{
  transform: rotateZ(90deg);
}
.page main{
  margin: 3.2rem auto;
  width: 90%;
}

@media screen and (min-width: 700px){
  .page{
    max-width: 100%;
  }
  .page form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    position: absolute;
    bottom: -28px;
    
  }
  .page form > *:not(:last-child){
    margin-bottom: 0;
  }
  .page main{
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}