.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-in-primary);
    background-color: var(--color-primary);
}
.container {
    width: 90%;
    height: 70%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container > img{
    height: 40%;
    align-self: center;
}
.logoContainer{
    text-align: center;
    margin-bottom: 3.2rem;
}
.logoContainer img{
    height: 8rem;
}
.logoContainer h2{
    font-weight: 500;
    font-size: 2rem;
    line-height:  4.6rem;
    margin-top: 0.8rem;
}
.buttonsContainer{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}
.buttonsContainer a{
    width: 22rem;
    height: 8.4rem;
    border-radius: 0.8rem;
    font: 700 2.0rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background-color .2s;
}
.buttonsContainer a img{
    width: 4rem;
}
.buttonsContainer a:nth-child(1){
    background-color: var(--color-primary-lighter);
    margin-right: 1.6rem;
}
.buttonsContainer a:nth-child(2){
    background-color: var(--color-secundary);
}
.buttonsContainer a:nth-child(1):hover{
    background-color: var(--color-primary-light);
}
.buttonsContainer a:nth-child(2):hover{
    background-color: var(--color-secundary-dark);
}
.page span{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page span img{
    margin-left: .8rem;
}
@media screen and (min-width: 500px){
  .container > img{
    width: 70%;
    height: initial;
    max-height: 200px;
  }
}
@media screen and (min-width: 1100px) {
  .container{
    height: initial;
    max-width: 1100px;
    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      'logo hero hero'
      'buttons buttons total'
    ;
  }
  .container > img{
    grid-area: hero;
    justify-self: end;
    max-height: initial;
    width: 100%;
  }
  .logoContainer{
    grid-area: logo;
    align-self: center;
    text-align: left;
    margin: 0;
  }
  .logoContainer h2{
    text-align: initial;
    font-size: 3.6rem;
  }
  .logoContainer img{
    height: 100%;
  }
  .buttonsContainer{
    grid-area: buttons;
    justify-content: flex-start;
  }
  .buttonsContainer a{
    font-size: 2.4rem;
    width: 30rem;
    height: 10.4rem;
  }
  .buttonsContainer a img{
    margin-right: 2.4rem;
  }
  .page span{
    grid-area: total;
    justify-self: end;
  }
}